<DOCTYPE html>
  <html>
    <head>
      <title>
      Hand Us🔸Home
      </title>
      <style>
        #bodys{
          margin-top:5%;
          background-color: antiquewhite;
        }
      </style>
      {%include 'bootstrap.html'%}
      {% include 'style.css'%}
    </head>
    <body id="bodys">
     {% include 'nav.html' %}
      <div class="container">
      <div>
        <h3 class="text-center m4-2 mb-2"> Unveiling Hand Us. A Secure Donation Management System  </h3>
        <p class="lead text-center">
          Simplify Giving, Amplify Impact. Hand Us streamlines the donation process, connecting donors with causes they care about.
          Where Compassion Meets Technology. Experience the power of digital giving with our innovative donation management system.
           </p>
        <img class="img-fluid" id="banner" src ="static\banner.jpg" height="1000">
    
        <div id="about">
    <h2  class="text-center mt-4 mb-2 ">About </h2>  
        <p class="lead">
          When it comes to donating, trust and security are paramount. Our donation website is committed to providing a safe and trustworthy environment for your contributions. By choosing to give through us, you're not only supporting causes you're passionate about but also ensuring that your generosity has a meaningful impact.

          Join us in making a difference. Start your journey with our donation platform today, knowing that your kindness will be both safe and impactful. Together, we can change the world, one donation at a time.
        </p>
        </div>

        <div id="requirements">
      <h3 class="text-center mt-2 mb-4">Help Needed</h3>
        
      <div class="alert alert-primary" role="alert">
          <a href="{{url_for('donatepage')}}" class="alert-link">Blood Needed</a>. A Patient is in the need of blood.
          <a href="{{url_for('donatepage')}}" class="btn btn-primary active"style="position: relative; left:65%;" role="button" aria-pressed="true">Donate</a>
      
        </div>
      <div class="alert alert-secondary" role="alert">
        <a href="{{url_for('donatepage')}}" class="alert-link">Raising Funds</a> Cancer Patient needs Financial Support
        <a href="{{url_for('donatepage')}}" class="btn btn-primary active"style="position: relative; left:62%;" role="button" aria-pressed="true">Donate</a>
      
      </div>
      <div class="alert alert-success" role="alert">
         <a href="{{url_for('donatepage')}}" class="alert-link">Raising Funds</a> Natural Disaster Occured in Kerala!!! Help them out
         <a href="{{url_for('donatepage')}}" class="btn btn-primary active"style="position: relative; right:-55%;" role="button" aria-pressed="true">Donate</a>

      </div>
      </div>
<div>
  <h2 class="text-center mt-2">
     Add An Emergency !!!
  </h2>
  <p class="lead">
    Tell us about your need. Whether it's medical expenses, educational support, community projects, or any other cause, 
    share the details of what you require assistance with. Your description will help potential donors understand the
     impact of their contribution and how it can make a difference in your life or your cause.
  </p>
  <div class="text-center">
  <a href="{{url_for('Needs')}}" class=" mb-4 btn btn-warning active" role="button" aria-pressed="true">Add a Need</a>
      </div>
</div>



        {%include 'footer.html'%}
    </div>
    </body>
  </html>