<doctype html>
    <html>
        <head>
            <title>
                Hand Us
            </title>
            <style>
                #bod{
                    margin-top: 2%;
                }
                .overlay-text {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 36px;
      text-align: center;
    }
            </style>
            {%include 'bootstrap.html'%}
            {%include 'indexnav.html'%}
            {%include'indexnav.html'%}
        </head>
        <body id="bod">
            <div>
                <img src="static\blooddonation.jpg" class="img-fluid"  alt="Donation pic">

            </div>
            <h1 class="overlay-text text-center">
               <p class="" style="font-size: 30px;">Welcome To </p>
               <p class="mt-3">
                Blood Donation Management System
               </p>
               <a type="button" href="{{url_for('home')}}"class="btn btn-primary">Home</a>
                        </h1>
{%include 'footer.html'%}
        </body>
    </html>
</doctype>