<doctype html>
    <html>
        <head>
            <title>
                Hand Us🔸Received
            </title>
            <style>
                #bodies{
                   background-image: url('static/banner.jpg');

                }
            </style>
            {%include 'bootstrap.html'%}
        </head>
        <body id="bodies" class="container  mt-4">
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Congratulations</h4>
                <p>We have received your application for help. We will verify the situation and provide priority by checking the proof of requiremnt in your OneDrive 
                    by contacting the respective Organization. Please be patient. And Remember we are HERE!!!
                </p>
        
                <hr>
                <p class="mb-0">Your Application status will be Complted by 24 Hours...</p>

                
              </div>
              <div>
                <a class="btn btn-primary text-center" style="text-decoration: none;"href="home">Go Home</a></div>
         
              </body>
    </html>
</doctype>